.grid {
  display: flex;
  flex-wrap: wrap;
  width: 350px; /* 6 cells * 50px per cell */
}
.cell {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.cell-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cell-number {
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 10px;
}
.dummy-cell {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: black;
}

.hand-syuwa-on-cell {
  width: 30px;
  height: 30px;
}
